.pio
logger/.vscode/.browse.c_cpp.db*
logger/.vscode/c_cpp_properties.json
logger/.vscode/launch.json
logger/.vscode/ipch
downloader/.vscode/.browse.c_cpp.db*
downloader/.vscode/c_cpp_properties.json
downloader/.vscode/launch.json
downloader/.vscode/ipch
